.navbar-nav>.user-menu>.dropdown-menu {
    width: 165px;
}

/*DataTable*/
table.dataTable{
    box-shadow: 0 7px 14px 0 rgba(59,64,94,0.1),0 3px 6px 0 rgba(0,0,0,0.07);
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom: 1px solid #dee2e6 !important;
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

table.dataTable thead{
    background-color: #edf2f7;
}

table.dataTable tbody tr:hover{
    background-color: #f8fafc;
}