html, body{
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.navbar ul li a{
    color: #FFFFFF !important;
}
.form-control{
    border: 1px solid #03045e;
}
.form-control:focus {
    border-color: #03045e;
    box-shadow: 0 0 0 1px #03045e;
}
.navbar .nav-item .nav-link:hover, .navbar .nav-item .nav-link.active{
    background: #ffc107;
    color: #03045e !important;
}
.navbar-nav .nav-link {
    padding: 13px 15px !important;

}
.navbar .nav-item.dropdown:hover .sub-menu{
    display: block;
}
.sub-menu{
    display: none;
    background: #03045e;
    color: #FFFFFF !important;
    width: 400px;
    top: 48px;
    border-radius: 0;
    border: 0;
    border-bottom: 3px solid #ffc107;
    transition: all 2s !important;
}
.sub-menu .dropdown-item:hover{
    background: #ffc107;
    color: #03045e !important;
}
/*.dd-list-item a {
    color: #fff !important;
}
.dd-list-item{
    transition: 2s !important;
    width: 800px !important;
    background: #03045e !important;
    margin-top: 10px !important;
}
nav ul li.dd-list{
    transition: 2s !important;
}
nav ul li.dd-list:hover .dd-list-item{
    display: block !important;
}*/
#login-page{
    background-image: url(../images/544750.jpg);
    background-size: cover;
    background-position: center;
}

#login-page .card{
    background-color: rgba(0,0,0,0.5) !important;
    border: 0 !important;
    /*border-radius: 10px !important;*/
    box-shadow: inset 0px 0px 20px 0px #fff;
}
#login-page .card-header{
    background: #03045e91;
    /*border-radius: 10px 10px 0px 0px;*/
}

#login-page .input-group-prepend span{
    width: 50px;
    background-color: #D4F1F4;
    color: black;
    border: 0 !important;
}

#login-page .avater{
    font-size: 90px;
    width: 150px;
    height: 150px;
    top: -120px;
    left: 50%;
    transform: translateX(-50%);
}
#login-page input.form-control{
    border: none !important;
}
#login-page input.form-control:focus{
    border: 0 !important;
    box-shadow: none !important;
}

#login-page span.input-group-text{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}