<footer class="main-footer">
    <div class="pull-right hidden-xs">
        <b>Sohel</b>
    </div>
    <strong>Copyright &copy; 2014-2019 <strong class="text-blue">ISLAMIA</strong><span class="text-light-blue">enterprise</span>.</strong> All rights reserved.
</footer>