{#<nav class="navigation-bar border-warning border-bottom border-3">
    <div class="row">
        <div class="col-md-2">
            <div class="brand ">
                <a href="/"><i class="fas fa-store"></i></a>
            </div>
        </div>
        <div class="col-md-10">
            <div class="menu">
                <ul>
                    <li><a href="" class="position-relative">Home<i class="fas fa-caret-down position-absolute" style="top:4px"></i></a>
                        <div class="row sub-menu">
                            <div class="col-md-4">
                                <h4>DropDown</h4>
                                <ul>
                                    <li><a href="">List 1</a></li>
                                    <li><a href="">List 2</a></li>
                                    <li><a href="">List 3</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h4>DropDown</h4>
                                <ul>
                                    <li><a href="">List 1</a></li>
                                    <li><a href="">List 2</a></li>
                                    <li><a href="">List 3</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4">
                                <h4>DropDown</h4>
                                <ul>
                                    <li><a href="">List 1</a></li>
                                    <li><a href="">List 2</a></li>
                                    <li><a href="">List 3</a></li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href=""><i class="fas fa-home"></i>Home</a></li>
                    <li><a href=""><i class="fas fa-home"></i>Home</a></li>
                    <li><a href=""><i class="fas fa-home"></i>Home</a></li>
                    <li><a href=""><i class="fas fa-home"></i>Home</a></li>
                    <li><a href=""><i class="fas fa-home"></i>Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>#}
 <nav class="navbar navbar-expand-lg navbar-dark border-3 border-bottom border-warning p-0" style="box-shadow: 0 -3px 15px 0px #000000fa; background: #03045e;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
{#            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
            <div class="navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" >Light</a>
                        <ul class="dropdown-menu sub-menu">
                            <li><a class="dropdown-item" href="#">Sun Electro</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">A Shape</a></li>
                            <li><a class="dropdown-item" href="#">T Shape</a></li>
                            <li><a class="dropdown-item" href="#">AC/DC</a></li>
                            <li><a class="dropdown-item" href="#">Others</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" >PC. Series</a>
                        <ul class="dropdown-menu sub-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
{#                <form class="d-flex">#}
{#                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#                    <button class="btn btn-outline-success" type="submit">Search</button>#}
{#                </form>#}
            </div>
        </div>
    </nav>